<section class="heading-section">
  <h1 class="title is-1 has-text-centered">Todos</h1>
</section>

<div class="container-x">
  <div class="add-todo-box">
    <form action="">
      <h2 class="title is-5">New Todo</h2>

      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Type todo text here" />
        </p>
        <p class="control">
          <button class="button is-info alt-gradient-button">
            <i class="material-icons">add</i>
            Add
          </button>
        </p>
      </div>
    </form>
  </div>
</div>

<section>
  <div class="container-x pt-5 mt-5">
    <div class="todos-list">
      <div class="todo-item">
        <div class="check-box">
          <i class="material-icons">check</i>
        </div>
        <div class="todo-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum atque
          necessitatibus ipsam voluptate tempora deleniti sit aperiam dolores
          dicta. Ex illum quaerat nobis tenetur dolore sed. Dolorem non
          molestiae inventore!
        </div>
      </div>
    </div>

    <div class="todos-list">
      <div class="todo-item">
        <div class="check-box">
          <i class="material-icons">check</i>
        </div>
        <div class="todo-text">This has only one line of todo</div>
      </div>
    </div>
  </div>
</section>
